{% extends "main.html" %}
{%block content%}
    {% for topic in structure%}
        <div class="col-md-3">
            <div class="text_center">
                        <p class="label text-uppercase"><h2>{{ topic }}</h2></p>
            </div>
            {% for article in structure[topic]%}
                <ul>
                    <li><a class=" btn-link" href="{{ article['href'] }}"> {{ article['title'] }}</a>
                </ul>
            {% endfor%}
        </div>
    {% endfor %}
{%endblock%}
